<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <style>

    </style>
</head>
<body>
<div style="float: left;"><h1>TO JEST STRONA GŁÓWNA</h1></div>
<div style="float: right;"><h6><a href="{{ path('lista_spraw') }}">PRZEJDŹ DO PANELU</a></h6></div>
<div style="padding-top: 100px;">
    <img class="brand-img" src="{{ asset('assets/img/skryba.jpg') }}" alt="..." style="max-width: 100%; max-height: 100%;">
</div>

</body>
</html>


